*{
    margin: 0%;
    padding: 0%;
}
.div2{
    height: auto;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.child2
{
    width: 20%;
    height: 200px;
    background-color: grey; 
    display: inline-block; 
    margin-left: 4%; 
}
.div1{
    height: auto;
    width: 100%;
    background-color:grey;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    justify-content: space-evenly;
}
.child1
{
    width: 15%;
    height: 140px;
    background-color:red; 
    display: inline-block; 
    
    
}